.idea
.vs
/bin
/build
/build-release
/bin-int
/out

*.vcxproj
*.vcxproj.filters
IGN.sln
*.vcxproj.user
bin-cmake
resources/shaders/bin
scripts/__pycache__
scripts/premake
IGN.sln.DotSettings.user
*.csproj
